* {
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 99vh;
    background-image: url(/background-1.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-color: #fff;
}

.Logo {
    width: 87px;
    height: 28px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav .btn {
    flex-direction: row;
    padding: 18px 53px;
    gap: 10px;
    width: 182px;
    height: 52px;
    left: 1168px;
    top: 53px;
    background: #FBB034;
    cursor: pointer;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #FBB034;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.Header-saloon {
    position: relative;
    width: 700px;
    height: 625px;
    left: 720px;
    top: 32px;
    right: 5px;
}

.container h4 {
    position: absolute;
    width: 155px;
    height: 17px;
    left: 115px;
    top: 342px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 106.5%;
    color: #FBB034;
}

.container h1 {
    position: absolute;
    width: 513px;
    height: 90px;
    left: 115px;
    top: 381px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 94.5%;
    color: #FFFFFF;
}

.container h3 {
    position: absolute;
    width: 389px;
    height: 66px;
    left: 115px;
    top: 493px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 106.5%;
    color: #9A9A9A;
}

button {
    align-items: flex-start;
    padding: 18px 53px;
    position: absolute;
    width: 182px;
    height: 52px;
    left: 115px;
    top: 639px;
    background: #FBB034;
    cursor: pointer;
}

div.rectangle {
    box-sizing: border-box;
    position: absolute;
    width: 182px;
    height: 53px;
    left: 337px;
    top: 639px;
    border: 1px solid #FFFFFF;
}

.rectangle p {
    text-align: center;
}


/* about */

#about {
    position: absolute;
    width: 1440px;
    height: 676px;
    left: 80px;
    top: 769px;
    background: white;
    border: 2px solid green;

}

.about.container {
    background: url(/background-2.png)
}

.about-us h4 {
    position: absolute;
    width: 71px;
    height: 19px;
    left: 767px;
    top: 140px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    color: #FBB034;
}

.about-us h1 {
    position: absolute;
    width: 451px;
    height: 90px;
    left: 763px;
    top: 170px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 94.5%;
    color: #000000;
}

.about-us h3 {
    position: absolute;
    width: 401px;
    height: 57px;
    left: 767px;
    top: 290px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    color: #565656;

}

.about-us .img-1 {
    width: 245px;
    height: 300px;
    left: 437px;
    top: 265px;
    background: url(/img-1.png);
    position: absolute;
    border: 15px solid white;
    border-radius: 2px 2px black;
}

.about-us .img-2 {
    position: absolute;
    width: 188px;
    height: 282px;
    left: 270px;
    top: 120px;
    background: url(/img-2.png);
}

.about-us .img-3 {
    position: absolute;
    width: 161px;
    height: 118px;
    left: 480px;
    top: 120px;
    background: url(/img-3.png);
}

.about-us .button-3 {
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 53px;
    gap: 10px;
    position: absolute;
    width: 188px;
    height: 52px;
    left: 767px;
    top: 410px;

    background: #FBB034;
}

/* services */

#services {
    position: absolute;
    width: 1440px;
    height: 510px;
    left: 80px;
    top: 1445px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(/background-3.png);

}

.services1 h4 {
    position: absolute;
    width: 79px;
    height: 19px;
    left: 118px;
    top: 100px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    /* or 19px */
    color: #FBB034;
    overflow: hidden;
}

.services1 h1 {
    position: absolute;
    width: 586px;
    height: 90px;
    left: 115px;
    top: 135px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 94.5%;
    /* or 45px */
    color: #FFFFFF;
}

.services1 h3 {
    position: absolute;
    width: 339px;
    height: 38px;
    left: 118px;
    top: 265px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 94.5%;
    /* or 19px */
    color: #B8B8B8;
}

.rectangle-5 {
    position: absolute;
    width: 320px;
    height: 283px;
    left: 929px;
    top: 130px;

    background: #FFFFFF;
}

.eclips {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1039px;
    top: 190px;
    background: #E8E8E8;
    border-radius: 50%;
}

.eclips img {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
}

.eclips h4 {
    position: absolute;
    width: 90px;
    height: 19px;
    left: 10px;
    top: 90px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 94.5%;
    /* identical to box height, or 19px */
    color: #B8B8B8;
}

.eclips h3 {
    position: absolute;
    width: 161px;
    height: 23px;
    left: -18px;
    top: 135px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 94.5%;
    /* identical to box height, or 23px */
    color: #000000;
}

/* working */

#working {
    position: absolute;
    width: 1440px;
    height: 900px;
    left: 80px;
    top: 1955px;
    background: white;
}

.working-days {
    position: absolute;
    width: 573px;
    height: 393px;
    left: 153px;
    top: 70px;
    background: url(/unsplash_MUdB4YzDeKAworking-men.png);
}

.rectangle-12 {
    position: absolute;
    width: 1134px;
    height: 393px;
    left: 153px;
    top: 70px;
    background: #FBB034;
}

.container-working h2 {
    position: absolute;
    width: 255px;
    height: 30px;
    left: 800px;
    top: 120px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 94.5%;
    /* or 30px */
    color: #FFFFFF;
}

.container-working h3 {
    position: absolute;
    width: 294px;
    height: 19px;
    left: 770px;
    top: 170px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    /* or 19px */


    color: #000000;
}

.Time-1 p {
    position: absolute;
    width: 68px;
    height: 15px;
    left: 770px;
    top: 210px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 94.5%;
    /* or 15px */
    color: #FFFFFF;
}

.Time-1 h5 {
    position: absolute;
    width: 85px;
    height: 12px;
    left: 1040px;
    top: 208px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 94.5%;
    /* or 12px */
    color: #000000;
}

.Time-1 hr {
    position: absolute;
    width: 367px;
    height: 0px;
    left: 770px;
    top: 245px;
    border: 1px dashed #000000;
}

.Time-2 p {
    position: absolute;
    width: 68px;
    height: 15px;
    left: 770px;
    top: 285px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 94.5%;
    /* or 15px */
    color: #FFFFFF;
}

.Time-2 h5 {
    position: absolute;
    width: 85px;
    height: 12px;
    left: 1040px;
    top: 283px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 94.5%;
    /* or 12px */
    color: #000000;
}

.Time-2 hr {
    position: absolute;
    width: 367px;
    height: 0px;
    left: 770px;
    top: 320px;
    border: 1px dashed #000000;
}

div.rectangle-14 {
    box-sizing: border-box;

    position: absolute;
    width: 166px;
    height: 39px;
    left: 770px;
    top: 370px;

    border: 1px solid #000000;
}

.rectangle-14 p {
    left: 770px;
    top: 370px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    /* or 19px */
    color: #000000;
    margin: 10px;
}

.Container-testmonials p {
    position: absolute;
    width: 91px;
    height: 19px;
    left: 120px;
    top: 520px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    /* or 19px */


    color: #FBB034;

}

.Container-testmonials h1 {
    position: absolute;
    width: 419px;
    height: 90px;
    left: 117px;
    top: 550px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 94.5%;
    /* or 45px */


    color: #000000;
}

.Container-testmonials h4 {
    position: absolute;
    width: 401px;
    height: 57px;
    left: 120px;
    top: 670px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    /* or 19px */
    color: #ABABAB;
}

.rectangle-11 {
    position: absolute;
    width: 320px;
    height: 285px;
    left: 615px;
    top: 540px;
    background: #FFFFFF;
    box-shadow: 9px 25px 10px rgba(0, 0, 0, 0.01), 5px 14px 9px rgba(0, 0, 0, 0.05), 2px 6px 6px rgba(0, 0, 0, 0.09), 1px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.rectangle-10 {
    position: absolute;
    width: 320px;
    height: 285px;
    left: 1030px;
    top: 540px;

    background: #FFFFFF;
    box-shadow: 9px 25px 10px rgba(0, 0, 0, 0.01), 5px 14px 9px rgba(0, 0, 0, 0.05), 2px 6px 6px rgba(0, 0, 0, 0.09), 1px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.rectangle-11 img {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 112px;
    top: 40px;

}

.rectangle-10 img {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 112px;
    top: 40px;

}

.rectangle-11 p {
    position: absolute;
    width: 256px;
    height: 42px;
    left: 35px;
    top: 130px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 106.5%;
    /* or 14px */


    color: #C2C2C2;
}

.rectangle-10 p {
    position: absolute;
    width: 256px;
    height: 42px;
    left: 35px;
    top: 130px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 106.5%;
    /* or 14px */


    color: #C2C2C2;
}

.rectangle-11 h4 {
    position: absolute;
    left: 110px;
    top: 65%;
    bottom: 44.13%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 106.5%;
    color: #000000;
}

.rectangle-10 h4 {
    position: absolute;
    left: 110px;
    top: 65%;
    bottom: 44.13%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 106.5%;
    color: #000000;
}

#services-2 {
    position: absolute;
    width: 1438px;
    height: 894px;
    left: 80px;
    top: 2856px;
    background: url(/our\ servicesbackground-5.png);
}

#Affilate {
    position: absolute;
    width: 1440px;
    height: 493px;
    left: 80px;
    top: 3754px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/unsplash_NbtIDoFKGO8back-6.png);
}
#Affilate h5{
    position: absolute;
    width: 58px;
    height: 19px;
    left: 690px;
    top: 85px;
    
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    /* or 19px */
    
    
    color: #FBB034;
    
    
}
#Affilate h1{
    position: absolute;
    width: 566px;
    height: 68px;
    left: 436px;
    top: 120px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 94.5%;
    /* or 34px */
    
    text-align: center;
    text-transform: capitalize;
    
    color: #FFFFFF;
}